body, h1, h2, p {
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

header div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 14.4px;
    margin: 0 20px;
}

section {
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

section h2 {
    font-size: 16px;
}

section h3 {
    font-size: 16px;
}

section div {
    margin-bottom: 20px;
}

#contact {
    text-align: center;
    padding: 20px;
}

#contact form {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
}

#contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact textarea {
    height: 100px;
}

#contact input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact input[type="submit"]:hover {
    background-color: #555;
}
